<!DOCTYPE html>
<html lang="en">
    <%- include('../components/header.ejs',{path: 'main'}) %> 
<body>
    <div class="background">
        <div class="circle"></div>
        <div class="romb"></div>
    </div>
    <div class="container">
        <h1 class="title">Kahoot Hidden Warrion 1.3v</h1>
        <form class="formKahoot" name="formKahoot">
            <input type="text" placeholder="KAHOOT ID" class="kahoot-input" name="kahootInput">
            <button class="kahoot-button" type="submit" name="kahootButton">Enter</button>
        </form>
        <div class="answer">
                <div class="answer-content">
                    <h1>Питання <%- data.questionIndex + 1%>: <%- data.question['question']%></h1>
                </div>
        </div>
            
    </div>
    <script src="index.js"></script>
</body>
</html>